.grid {
  font-size: rem($bodyContext);
  max-width: em(1300, $bodyContext);
  margin: 0 auto;

  @media screen and (min-width: em(1040, $bodyContext)) and (max-width: em(1300, $bodyContext)) {
    max-width: em(1040, $bodyContext);
  }

  @media screen and (min-width: em(780, $bodyContext)) and (max-width: em(1040, $bodyContext)) {
    max-width: em(780, $bodyContext);
  }

  @media screen and (min-width: em(520, $bodyContext)) and (max-width: em(780, $bodyContext)) {
    max-width: em(520, $bodyContext);
  }

  @media screen and (max-width: em(520, $bodyContext)) {
    max-width: em(260, $bodyContext);
  }
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: rem(250);
}

.grid-item {
  // height: 120px;
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
  padding: em(10, $bodyContext);
  margin: 5px; 
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    background-color: #eee;
  }
}

.grid-item-image {
  width: 100%;
  border-radius: 5px;  
}