.app-header {
  background-color: $black;
  display: flex;
  height: rem(80);
  padding: em(10) em(15);
  width: 100%;
  margin-bottom: rem(5);
}

.header-nav {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex: 1;
}

.nav-logo {
  a {
    text-decoration: none;
    color: $white;
    
    &:visited {
      text-decoration: none;
    }
  }
}

.mobile-menu {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: $white;
  padding: 0;
  margin: 0;
  z-index: 10;
  list-style: none;
  font-size: 2.25rem;
  text-align: center;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.4);
  display: none;
}

.mobile-menu-item {
  cursor: pointer;
  padding: em(10, $bodyContext) 0;
  border-bottom: 1px solid $mediumGrey;

  &:last-child {
    border-bottom: none;
  }  
  &:hover {
    background-color: $salmon;
  }
}

.nav-mobile-menu-btn {
  background-image: url('../images/menu.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: '24px 24px';
  
  @media screen and (max-width: em(768, $bodyContext)) {
    display: inline-block;
  }

  @media screen and (min-width: em(769, $bodyContext)) {
    display: none !important;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  outline: 0;
}

.nav-logout-btn {
  @media screen and (max-width: em(768, $bodyContext)) {
    display: none;
  }
}

.nav-cta-btn {
  background-color: darken($salmon, 10%);
  border: none;
  padding: em(5, $bodyContext) em(20, $bodyContext);
  border-radius: 0.3em;
  color: $white;
  font-size: $bodyContext;
  font-weight: 700;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  outline: 0;
  text-decoration: none;
  line-height: inherit;
  height: rem(40);

  &:hover {
    background-color: $salmon;
  }
}

.user-profile-btn {
  background-image: url('../images/user.svg');
  background-repeat: no-repeat;
  background-position: center center;
  
  @media screen and (max-width: em(768, $bodyContext)) {
    display: none;
  }
}

.add-pin-btn {
  background-image: url('../images/plus.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.user-profile-btn, .add-pin-btn, .nav-mobile-menu-btn {
  background-color: $white;
  border: 0;
  border-radius: 5px;
  margin-right: em(10);
  height: rem(40);
  width: rem(40);

  &:hover {
    background-color: $salmon;
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.nav-logged-in-btn-container {
  display: flex;
  position: relative;
}
